/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Navigation Section */
.top-navigation {
	background-color: #fff;
	height: 70px;
	width: 2400px;
	font-family: 'Roboto', sans-serif; 
   font-size: 16px; 
   color: #838994; 
   letter-spacing: 0.03em;
   -webkit-font-smoothing: antialiased;
   position: fixed;
   font-weight: 400;
}
.top-navigation .content {
	width: 1485px;
	height: 72px;
	margin: 0px auto;
	padding: 0px 30px;
	margin-top: 6px;
	margin-left: 392px;
}
.karmalogo {
	background-size: 42px;
	float: left;
	margin-top: 10px;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 155px;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
    line-height: 1;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
/* Banner Section */
.introducingkarma {
	text-align: center;
	font-size: 3.134rem;
	font-weight: 100;
	padding-top: 280px;
	margin-bottom: 20px;
	color: #FAFFFF;
	font-family: 'Roboto', sans-serif;
}
.bringwifi {
	text-align: center;
	font-weight: 100;
	font-size: 25px;
	color: white;
	font-family: 'Roboto', sans-serif;
	margin-top: 8px;
	margin-bottom: 10px;
}

.introduction .homepagebackground {
	z-index: -2;
	position: absolute;
	width: 2420px;
	height: 46rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.introduction .buttons button:hover {
    cursor: pointer;
    color: #333333;
}
.buttons {
	width: 160px;
	margin: 0 auto;
	margin-top: 25px;
}
#bigbtn {
	background-color: #f15a29;
	color: white;
	font-weight: 900px;
	font-size: 18px;
	height: 55px;
	width: 154px;
	border-radius: 5px 5px 5px;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	border-color: #f15a29;
	padding: 16px 24px;
	line-height: 1.33;

}
/* Below Banner Section */
.littlekarma {
	text-align: center;
	margin: 406px auto 150px;
	font-family: 'Roboto', sans-serif;
	font-size: 44px;
	font-weight: 100;
}
.littlekarma .devices {
	width: 400px;
    display: inline-block;
    /* styles to assist with debugging */
    border: 0px solid black;
    box-sizing: border-box;
    height: 4em;
    margin: 0 auto;
    margin-top: 50px;
}
.coffee, .refill, .device {
	width: 33.3333333%;
	padding-bottom: 10px;
}
.littlekarma .descriptions {
	font-size: 25px;
	text-align: center;
	width: 380px;
	margin-top: 20px;
	font-weight: 400;
}
/*Footer */
footer {
	display: inline;
	margin: 0 auto 100px;
	float: center;
	font-family: 'Roboto', sans-serif;
}
.content #social-links, .content h6, .content h5{
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
}
.content h5 {
	font-size: 20px;
	font-weight: 400;
	width: 100%;
}
.content h6 {
	margin-bottom: 150px;
	font-weight: 300;
	width: 100%;
}
#social-links {
	display: inline-block;
	width: 3.3333%;
	margin: 0 auto;
}
